html,
body {
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: var(--blue);
  color: var(--babyBlue);
}

*::after,
*,
*::before {
  box-sizing: inherit;
}

:root {
  --red: #D00000;
  --yello: #FFBA08;
  --babyBlue: #3F88C5;
  --blue: #032B43;
  --pineGreen: #032B43
}

.home-forms {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 0rem;
  margin-top: 2rem;
  flex-wrap: wrap; /* optional: makes it responsive on smaller screens */
}

.home-forms > * {
  flex: 1;
  max-width: 400px;
  min-width: 300px;
}