.nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-top: .1rem;
}

.nav a {
    text-decoration: none;
    color: var(--babyBlue);
    padding: .3rem 1.25rem;
    transition: all .3s ease-in-out;
    border-radius: 20px;
}

.nav a:hover {
   color: var(--blue);
   background-color: var(--babyBlue);
}