html, body {
    margin: 0;
    height: 100%;
    box-sizing: border-box;
}

.success {
  background-color: #d4edda;
  color: #155724;
  padding: 10px;
  margin: 1em 0;
  border-left: 5px solid #28a745;
}

.error {
  color: red;
  font-weight: bold;
  margin: 1em 0;
}