<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="../styles/style.css">
</head>
<body>
  <h1>About</h1>
  <nav>
    <a href="/">Home</a>
    <a href="/users/Tester">Tester User Page</a>
  </nav>

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi nam odit tempore officia totam veniam praesentium dolor omnis, suscipit sint consequatur eaque placeat ea ratione mollitia vero odio sequi cum!</p>
</body>
</html>
